.nav-link {
  border-top-left-radius: 0rem !important;
  border-top-right-radius: 0rem !important;
  border-bottom-left-radius: .25rem !important;
  border-bottom-right-radius: .25rem !important;
}
.nav-link.active {
  border-color: #fff #dee2e6 #dee2e6 !important;
}

.nav-link, th {
  cursor: pointer;
}